
  

<div ng-hide="a">
  <h1>Welcome User</h1>
<button class="btn btn-primary" ng-click="startTest()" >Start Test</button>
</div>
<div ng-show="a" ng-init="user={};check={}">
<table class="table" >
	<tr>
	  <td>{{questionsList[current].question}}</td>
	</tr>

	<tr ng-show="questionsList[current].type=='single choice'" 
	    ng-repeat="x in questionsList[current].options">
	   <td><input type="radio" name="option" ng-model="user.option"
	       ng-value="x"/> {{x}}</td>
	</tr>

	<tr ng-show="questionsList[current].type=='multi choice'" 
	   ng-repeat="x in questionsList[current].options"><td><input type="checkbox"  ng-model="check[x]" ng-value="x">{{x}}</td>
	</tr>

	<tr>
	  <td><button ng-show="current > 0" class="btn btn-primary pull-left" ng-click="prev()" >prev</button></td>
	  <td><button ng-show="current<(size-1)" class="btn btn-primary pull-right" ng-click="next(user)" >Next</button></td>
	  <td><button class="btn btn-primary pull-right" ng-click="submit()" ng-show="current==(size-1)" >submit</button></td>
	</tr>

</table>
</div>




